<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body>
        <h1><%= "The date is #{Date.today.strftime("%A, %B %d, %Y")}" %></h1>

        <!-- <h1><% t = Time.new %></h1>
        <h1><% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %></h1>
        <h1><% days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %></h1>
        <h1><%= "The date is #{days[t.wday]}, #{months[t.month]} #{t.day}, #{t.year}" %></h1> -->
    </body>
</html>
